*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    text-align: justify;
}

body{
    background-color: darkgray;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

.proportions{
    width: 4rem;
    height: 4rem;
}

.parent{
    background-color: wheat;
    width: 12rem;
    height: 12rem;
}

.div1{
    background-color: red;
}

.div2{
    background-color: blue;
    transition: width 400ms, height 400ms;
}